
.category-item {
  max-width: 560px;
  margin-bottom: 16px;

  .category-title {
    margin-bottom: 8px;
    font-weight: bold;
  }

  .label-item {
    color: #4d4d4d;
    font-size: 14px;
    border-radius: 0;
    margin-bottom: 8px;
    padding: 6px 8px;
    background-color: white;
  }

  .tag-input {
    width: 100px;
    height: 34px;
    border-radius: 0;
  }

  .add-tag {
    border-color: #f15507;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: #f15507;
    }
  }
}
